@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/*:root {
    --bg-color: #f1f1f1;
    --bg-secondary: #fbfbfb;
    --dark-gray: #333;
    --light-brown: #c7a17a;
    --black: #1f2226;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-color);
}
*/
/* utility classes */

.container {
    max-width: 1200px;
    margin: auto;
}

/*.text-primary {

    color: #c7a17a;
}

h1,
h2,
h3 {
    font-family: "Oswald", sans-serif, ;

}
*/
ul {

    list-style: none;
}

a {

    text-decoration: none;
}



.first {

    display: flex;
    align-items: center;
    gap: 10px;
}

/* Header-----------------------------------------------------------------------------------------*/

* {

    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}

.header-video {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.header-content {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    padding: 40px 5%;

}

.behind-logo {
    display: flex;
    justify-content: center;
    gap: 12px;
    color: white;
}

.behind-logo a {
    color: white;
    font-size: 28px;

}

.behind-logo a:hover {
    transform: translateY(-10px) scale(1.05);
}

.behind-logo h2 {
    margin: 0;
    color: white;
}


.header-links {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

.header-links a {

    color: white;
    padding: 0px 50px;
    text-decoration: none;
    border-radius: 20px;

}

.header-links a:hover {

    background-color: #a97037;

}

.button-location button {
    position: fixed;
    top: 20px;
    background-color: #a97037;
    color: white;
    border-radius: 40px;
    width: 200px;
    height: 50px;
}

.button-location button a {
    color: white;
    text-decoration: none;


}


/* Home page --------------------------------------------------------------------------------------*/
/*part Two--------------------*/



#Home .home-content .contect-text h1 {
    color: #a97037;
    font-size: 100px;
    font-weight: 400;
    line-height: 1.3;
    padding: 70px;
    margin: 0;
}

#Home .home-content .contect-text p {
    color: #a97037;
    line-height: 1.3;
    font-size: 25px;
    font-weight: 200px;
}


#Home .home-content .contect-text p:hover {
    background-color: black;
}

.contect-text .discrpion {
    display: flex;
    justify-content: space-between;
    gap: 10px;

}


.contect-text img {

    width: auto;
    height: 300px;
    margin-top: 50px;
}

/* part Three------------------------*/


.full-story {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}



.full-story img {
    width: auto;
    height: 300px;
    margin-top: 50px;
    margin-left: -40px;
}

.Story-discrption {
    padding: 50px;
}

.Story-discrption h1 {
    padding: 20px;


}

.Story-discrption h3 {

    color: dimgrey;
}

/*part Four---------------------------------------------*/

#best-selary {
    padding: 80px;
}


.discrpion-salary img {
    width: auto;
    height: 400px;
}

.discrpion-salary img:hover {

    transform: scale(1.1);
    background: #e68900;

}


.discrpion-salary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.Explain-salary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Explain-salary h1,
.Explain-salary h2,
.Explain-salary h3 {
    margin: 0 0 12px 0;

}

.Explain-salary h1 {
    color: #444444;
}

.underline {
    text-decoration: underline;
}

.Explain-salary h2 {

    color: #6F4E37;

}

.Explain-salary h3 {
    color: #4A4A4A;
}

/*part Five---------------------------------------------*/


.location-discrption img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    display: block;
    margin-bottom: 100px;

}

.location-discrption {

    position: relative;
    overflow: hidden;
    width: 100%;
    height: 50vh;
    padding: 10px;
    margin-bottom: 150px;
    margin-top: 150px;
}

.insider {

    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;
    flex-wrap: wrap;
}

.info-container,
.time-open,
.info-contact-us {
    position: relative;
    text-align: center;
    color: white;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(8px);
    padding: 35px 50px;
    border-radius: 20px;
    border: 1px solid rgba(196, 139, 78, .5);


}

.info-container:hover,
.time-open:hover,
.info-contact-us:hover {


    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}


#location i {
    font-size: 45px;
    color: #c48b4e;
    margin-bottom: 15px;
}

#location h1 {
    font-size: 32px;
    margin-bottom: 10px 0;
}

#location p {
    font-size: 1.3rem;
    font-weight: 400;
}

/* part six-------------------------------------------------*/

.sign-up-info img {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 250px;
    display: block;
    z-index: 1;


}

.sign-up-info {
    position: relative;
    width: 100%;
    height: 40vh;
}

.sign-up-descrption {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    padding: 40px;
    margin-bottom: 150px;
    margin-top: 150px;
    z-index: 2;
    color: white;
    gap: 50px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

#sign-up .row {

    display: flex;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;

}

.sign-up-descrption .form-descrption {
    display: flex;
    justify-content: space-between;


}

#sign-up .sign-up-descrption h1 {
    font-size: 60px;
}

.sign-up-descrption .form-descrption button {
    font-size: 20px;
    color: white;
    background-color: #c48b4e;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;

}

.sign-up-descrption .form-descrption input {
    font-size: 20px;
    width: 100%;
}

/*footer part--------------------------------------------*/
#footer .footer-top {
    padding: 4rem 0px;
}




#footer .footer-top {

    background-color: #1f2226;
    color: #f1f1f1;


}


#footer .footer-top .row {

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 3rem;
}

#footer .footer-top .row col h3 {
    margin-bottom: 15px;
}


#footer .footer-top .row .col p {

    width: 400px;
    line-height: 1.6;
    margin: 0 0 15px;
}

#footer .footer-top .row .col ul {
    margin: 0;
    padding: 0;
}

#footer .footer-top .row .col ul li {

    margin: 10px 0;
}

#footer .footer-top .row .col ul li {

    margin-right: 10px;
}

#footer .footer-top .row .col ul a {

    color: #fbfbfb;
}


/* about page---------------------------------------------------------------------------*/
/*part one---------------------------------------*/



#About {
    margin: 0;
    padding: 0;


}

#About .header-about {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

#About .header-about-img {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#About .header-contect-about {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;
    padding: 40px 5%;

}

#About .behind-logo-about {
    display: flex;
    justify-content: center;
    gap: 12px;
    color: white;
}

#About .behind-logo-about a {
    color: white;
    font-size: 28px;

}

#About .behind-logo-about a:hover {
    transform: translateY(-10px) scale(1.05);
}

#About .behind-logo-about h2 {
    margin: 0;
    color: white;
}


#About .header-links-about {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
}

#About .header-links-about a {

    color: white;
    padding: 30px 20px;
    text-decoration: none;
    border-radius: 20px;

}

#About .header-links-about a:hover {

    color: white;
    background-color: #a97037;

}

/*part two---------------------------------------------------------*/
#About-descrption {
    background-color: black;
}

#mission {
    background-color: black;
}

#Brand-Value {
    background-color: black;
}

.about-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    color: white;
}

.about-container img {

    width: auto;
    height: 300px;
    margin-top: 50px;

}

.about-container img:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);

}



.about-container .message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 90px;
    color: white;
}

/*part three-------------------------------------------------*/
#mission {
    padding: 20px
}

.mission h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
    color: white;
    padding: 40px;
}


.mission .mission-vision-descrption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 90px;
    color: white;


}

.mission .mission-vision-descrption .mision-descrption {
    font-size: 20px;
}

/* prat four-----------------------------------------*/
.container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

.brand-value {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 40px;
    gap: 130px;
}

.Inclusitivity-descrption {

    grid-column: 1/3;
    justify-self: center;
    width: 50%;


}

.brand-value p {
    color: white;
    font-size: 20px;
}


/* menu page --------------------------------------------------------------------------------*/



body {
    margin: 0;
    background-image: url(image/back\ ground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.header-menu {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
    gap: 40px;
    padding: 60px;
}

.behind-logo-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.behind-logo-menu a {
    color: black;
    font-size: 28px;
    text-decoration: none;

}

.behind-logo-menu h2 {
    margin: 0;
}



.header-links-menu a {

    color: black;
    padding: 0px 25px;
    text-decoration: none;
    border-radius: 20px;

}

.header-links-menu a:hover {

    color: #a97037;

}

/*The-list(hot drink)-----------------------------------*/

.item-1 img,
.item-2 img,
.item-3 img,
.item-4 img,
.item-5 img,
.item-6 img,
.item-7 img,
.item-8 img,
.item-9 img,
.item-10 img,
.item-11 img,
.item-12 img,
.item-13 img,
.item-14 img,
.item-15 img,
.item-16 img, .item-17 img {
    width: 100%;
    height: 100px;
}

.container h2 {
    padding: 20px;
    margin-bottom: 30px;
}

.menu-category {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;

}

.gather {
    display: flex;
    justify-items: center;
    align-items: center;
}



.gather-margin {

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(8px);
    padding: 35px 50px;
    border-radius: 29px;
    border: 1px solid rgba(196, 139, 78, 5);
    margin-top: 20px;
}

.gather-margin:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.18);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);


}

.gather-margin details {
    margin-bottom: 10px;
}


/* testimonials page -------------------------------------------------------------------------*/

.picture-test {

    background: url(image/coffee-background.png) no-repeat;
    background-size: cover;

    min-height: 100vh;
}



#testimonials .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 6rem;
    gap: 6rem;
}

#testimonials .row .item {
    background-color: #ddd;
    text-align: center;
    padding: 25px 25px 20px;
}

#testimonials .row .item img {

    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-top: -50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);


}


#testimonials .row .item h3 {
    margin: 20px 0 10px;
}

#testimonials .row .item p {

    line-height: 1.6;
}

/* contact page -----------------------------------------------------------------------------*/

#contact {
    background-color: #ddd;
}

#contact .row {
    display: grid;
    grid-template-columns: 2fr 1.4fr;
    margin-top: 2rem;
}

#contact .row .contact-content {
    background-color: #f1f1f1;
    padding: 2rem;
}

#contact .row .contact-content h3 {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 500;
}

#contact .row .contact-content form input,
textarea {
    display: block;
    width: 100%;
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ccc;

}

#contact .row .contact-content form .btn-submit {
    background-color: black;
    width: 100%;
    color: #fff;
    padding: 20px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#contact .row .contact-content form .btn-submit:hover {
    background-color: #a97037;
}

#contact .map iframe {
    width: 100%;
    height: 100%;
}